<h2 mat-dialog-title>Repository Password</h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">
  <mat-form-field>
    <input matInput type="username" placeholder="Username" formControlName="user">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="pass">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button class="ok" (click)="save()">OK</button>
</mat-dialog-actions>