.title {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 20px 0 !important;
}
.subtitle{
    font-size: 20px;
    width: 290px;
    font-weight: 400;
}
label{
    width: 170px;
}
.mat-card-subtitle{
    margin-top: 0;
    margin-bottom: 0;
}
  
 