.about {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.subtitle{
    font-size: 11px;
    color:#99a4ae;
    line-height: 12px;
    white-space:normal;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    margin-bottom: 3px;
    padding-bottom: 3px;
   }
   .btn{
       //margin-bottom: 5px;
       width: 153px;
   }
   .stretch{
    min-height: 68px 
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 20px 0 !important;
}