mat-card {
    max-width: 400px;
    margin: 0 auto;
    flex: 1;
}

.large {
    font-size: 50px;
}

mat-form-field {
    flex: 1;
}
.row {
    margin: 20px;
}
.login {
    display: flex;
    height: 100%;
    align-items: center;
}



