<div class="login">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formPass" (ngSubmit)="onSubmit()">
        <div class="row" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="start space-between">
          <mat-icon fxFlex=60px class="large">add</mat-icon>
          <mat-form-field>

            <input matInput type="password" placeholder="New Password" formControlName="password">
            <mat-error>
              Please provide a password
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="start space-between">
          <mat-icon fxFlex=60px class="large">redo</mat-icon>
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPass">
            <mat-error>
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-between center">
          <button mat-raised-button fxFlex>CHANGE PASSWORD</button>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>